* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    /* border: .5px solid gray; */
}

/* #3498DB */

body {
    height: 3000px;
}

.welcome {
    width: 100%;
    height: 700px;
    background: linear-gradient(
        -25deg,
        #EE7752 0%,
        #ED6B5B 8.1%,
        #EB5F64 15.5%,
        #EA546C 22.5%,
        #E84875 29%,
        #E73C7E 35.3%,
        #C0518F 41.2%,
        #9966A1 47.1%,
        #717CB2 52.9%,
        #4A91C4 58.8%,
        #23A6D5 64.7%,
        #23AFCD 71%,
        #23B9C4 77.5%,
        #23C2BC 84.5%,
        #23CCB3 91.9%,
        #23D5AB 100%
      );
    background-size: 400% 400%;
    position: relative;
    animation: bgChange 120s ease-in-out infinite;
    display: grid;
    justify-items: center;
    align-content: center;
}

@keyframes bgChange {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.welcome-svg{
    position: absolute;
    bottom: 0;
}

@keyframes blink { 
    50% { border-right: 7px solid #FFF; border-left: 7px solid rgba(255, 255, 255, 0) } 
 }

.typewrite {
    color: white;
    padding: 0 10px;
    font-size: 5rem;
    line-height: 60px;
    animation: blink .5s step-end infinite alternate;
}



