* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    /* border: .5px solid gray; */
}

.space-section {
    height: 200px;
}

.welcome {
    width: 100%;
    height: 700px;
    background: linear-gradient(
        -25deg,
        #EE7752 0%,
        #ED6B5B 8.1%,
        #EB5F64 15.5%,
        #EA546C 22.5%,
        #E84875 29%,
        #E73C7E 35.3%,
        #C0518F 41.2%,
        #9966A1 47.1%,
        #717CB2 52.9%,
        #4A91C4 58.8%,
        #23A6D5 64.7%,
        #23AFCD 71%,
        #23B9C4 77.5%,
        #23C2BC 84.5%,
        #23CCB3 91.9%,
        #23D5AB 100%
      );
    background-size: 400% 400%;
    position: relative;
    animation: bgChange 120s ease-in-out infinite;
    display: grid;
    justify-items: center;
    align-content: center;
}

.welcome-hello {
    margin-top: -100px;
}

.nav-bar {
    position: absolute;
    font-family: Cairo;
    font-size: 16px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    margin: 15px 0;
}

.nav-bar ul li {
    letter-spacing: .05em;
}

.nav-bar ul li a {
    text-decoration: none;
    padding: 0 30px;
    color: white;
}

.nav-bar ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

@keyframes bgChange {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.welcome-svg{
    position: absolute;
    bottom: 0;
}

#welcome-down-link {
    position: absolute;
    margin-top: 500px;
    z-index: 2;
}

.welcome-down-svg {
    stroke: #ffffff;
}
.welcome-down-svg:hover {
    stroke: #ffffffad;
}

#top-link-button {
    z-index: 2;
    position: fixed;
    margin-top: 50px;
}

.top-link-svg{
    stroke: black;
}

#typewrite {
    font-size: 5rem;
    color: white;
    padding: 0 10px;
    overflow: hidden;
    animation: blink .5s step-end infinite alternate;
}

.is-hidden[style] {
    display: none !important;
}

.about-section * {
    /* border: 1px solid lightblue; */
}

.about-section {
    height: 700px;
}

.about-info-wrap {
    display: flex;
    height: 400px;
    margin: 0 100px;
}

.about-info-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle-wrap {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0);
    border-radius: 50%;
}

#brads-face {
    height: 200px;
}

.about-info-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    letter-spacing: .08em;
    color: rgb(44, 44, 44);
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header h1 {
    color: #3498DB;
    font-size: 50px;

}

.section-about {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 18px;
    color: rgb(92, 92, 92);
}

